/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

@import './utils/variables';
@import './utils/normalize';
@import './utils/common';
@import './components/header-common';
@import './components/header-main';
@import './components/header-lib';
@import './components/cardFilms';
@import './components/footer';
@import './components/pagination';
@import './components/modalFilmCard';
@import './components/team-modal';
@import './components/spinner';
@import './components/trailers';
@import './components/up-btn';
@import './components/slider';


