@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html {
  overflow-y: scroll;
}

.endless-bg-color {
  background-color: #000000;
}

.logo {
  position: absolute;
  top: 46px;
  text-decoration: none;
  color: #818181;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .logo__icon {
    margin-right: 10px;
  }
}

.logo__name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .logo__name {
    display: none;
  }
}

.side-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
}

.side-nav__item:first-child {
  margin-right: 39px;
}

.side-nav__link {
  text-decoration: none;
  color: inherit;
}

.side-nav__link--current-page {
  position: relative;
}
.side-nav__link--current-page::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ff6b08;
}

.header-section {
  padding-top: 58px;
}

.header-bg {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  min-height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-main-mobile.71b6a31c.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-main-mobile@2x.afb557df.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-bg {
    max-width: 768px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-main-tablet.310b555c.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-main-tablet.310b555c.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .header-bg {
    max-width: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-main-desktop.0c233672.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-main-desktop.0c233672.jpg);
  }
}

.search-form {
  position: relative;
  text-align: center;
}

.search-field {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #ffffff;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .search-field {
    width: 336px;
  }
}
.search-field::placeholder {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-field:focus {
  outline: none;
  border-bottom: 1px solid #ff6b08;
}
.search-field:focus::placeholder {
  color: #ff6b08;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  border: transparent;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .search-btn {
    right: 142px;
  }
}
@media screen and (min-width: 1024px) {
  .search-btn {
    right: 273px;
  }
}
.search-field:focus ~ .search-btn {
  color: #ff6b08;
}

.header-warning {
  position: absolute;
  top: 155px;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}
@media screen and (max-width: 767px) {
  .header-warning {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .header-warning {
    width: 616px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .header-warning {
    width: 882px;
    text-align: center;
  }
}

.header-section-lib {
  padding-top: 58px;
}

.header-bg-lib {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  min-height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-lib-mobile.5145fa34.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header-bg-lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-lib-mobile@2x.0d738ecb.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-bg-lib {
    max-width: 768px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-lib-tablet.03f0847c.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
  .header-bg-lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-lib-tablet.03f0847c.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .header-bg-lib {
    max-width: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-lib-desktop.ecf5eb53.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-bg-lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/header-bg-lib-desktop.ecf5eb53.jpg);
  }
}

.storage {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .storage {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .storage__item:first-child {
    margin-right: 15px;
  }
}

.storage__btn {
  display: block;
  padding-top: 14px;
  padding-bottom: 12px;
  min-width: 130px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .storage__btn {
    min-width: 136px;
  }
}

.storage__input:checked ~ .storage__btn {
  background-color: #ff6b08;
  border: 1px solid #ff6b08;
  color: #ffffff;
}

.storage__input ~ .storage__btn {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.side-nav--lib {
  margin-bottom: 51px;
}

.card__colection {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .card__colection {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.card__film {
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear;
}
@media screen and (max-width: 767px) {
  .card__film:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .card__film {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .card__film {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.card__film:hover,
.card__film:focus {
  transform: scale(1.03);
}

.card__film img {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 402px;
}
@media screen and (min-width: 768px) {
  .card__film img {
    height: 398px;
  }
}

.card__title,
.card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.card__title {
  text-transform: uppercase;
  color: #000000;
}

.card__text {
  color: #ff6b08;
}

.thumb {
  position: relative;
}

.card__vote_average {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.17;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  color: #545454;
}
.container .footer__image {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

footer {
  background-color: #f7f7f7;
}

@media screen and (min-width: 320px) {
  .copyright {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 10px;
  }

  .developers {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .page__footer {
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .page__footer {
    display: flex;
    justify-content: center;
  }

  .copyright {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .developers {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .page__footer {
    font-size: 16px;
    font-weight: 400;
  }
}
.pagination__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.pagination__container .list {
  width: 100%;
  max-width: 768px;
  background-color: #FFF;
  margin-top: 25px;
}
.pagination__container .list .item {
  padding: 15px;
}
.pagination__container .list .item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagenumbers button {
  width: 40px;
  height: 40px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
  transition: 0.5s;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  font-style: normal;
  background-color: #FFF;
}
.pagenumbers button:hover {
  background-color: #FF6B08;
  color: #FFFFFF;
  border-radius: 5px;
}
.pagenumbers button.active {
  background-color: #FF6B08;
  color: #FFFFFF;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  .pagenumbers button {
    width: 38px;
    height: 38px;
    margin: 3px;
  }
}
@media screen and (max-width: 320px) {
  .pagenumbers button {
    width: 35px;
    height: 35px;
    margin: 1px;
  }
}
.arrow_left {
  background-image: url("/arrow-left.62ff9ef7.svg");
  background-repeat: no-repeat;
}

.arrow_right {
  background-image: url("/arrow-right.f04d22a6.svg");
  background-repeat: no-repeat;
}

.pagination__container_pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pag-arrow {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-position: center;
  border: none;
  background-color: #fff;
  transition: background-color 0.25s ease-in;
  border-radius: 5px;
}
.pag-arrow:hover {
  background-color: #FF6B08;
  color: #FFFFFF;
  border-radius: 5px;
}
.pag-arrow:active {
  background-color: green;
}

.threeDots {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  padding: 10px 5px 1px 5px;
}

@media screen and (max-width: 767px) {
  .threeDots {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .threeDots {
    display: inline-block;
  }
}
.hide {
  display: none;
}

.disabled-arrow {
  pointer-events: none;
  background-color: #c4c0c0;
}

.modal-close-btn {
  display: none;
}
@media screen and (max-width: 767px) {
  .modal-close-btn {
    position: absolute;
    top: -30px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: #ff6b08;
  }
}

@media screen and (max-width: 767px) {
  .modal-card {
    position: relative;
    background-color: #ffffff;
    width: 320px;
    margin-top: 350px;
  }
}
.genres {
  display: flex;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  width: 260px;
  height: 404px;
  border-radius: 5px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .image {
    width: 280px;
    height: 416px;
  }
}

.cardItem__wrapper {
  padding: 32px 20px 36px;
}

.cardItem__name {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 50;
  color: black;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.cardItem__wrapper p {
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 1.333;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

.cardItem_text {
  color: #8d8d8d;
  display: flex;
  align-items: center;
}

.cardItem__vote_average {
  display: inline-block;
  margin-left: 50px;
  margin-right: 3px;
  background-color: #ff6b08;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  padding: 1px 9px 1px 10px;
}

.cardItem__vote_count {
  display: inline-block;
  margin-left: 3px;
  color: black;
  font-weight: 500;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  line-height: 1.5;
}

.cardItem___data {
  margin-left: 63px;
  color: black;
  font-weight: 500;
}

.cardItem__title_data {
  margin-left: 46px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}

.cardItem__genre {
  display: inline-block;
  margin-right: 90px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .cardItem__genre {
    margin-right: 90px;
  }
}

.cardItem__genre_data {
  color: black;
  margin-right: 5px;
}

.cardItem__genreList {
  list-style: disc;
  display: block;
  flex-wrap: wrap;
  list-style: disc;
}

.cardItem__about {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.cardItem__description {
  font-size: 11px;
  color: black;
}

.cardItem__button {
  padding: 0 15px;
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  height: 44px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  width: 134px;
}

.cardItem__list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .modal-card {
    background-color: #ffffff;
    width: 720px;
    margin-top: 0px;
    display: flex;
  }

  .image {
    display: block;
    width: auto;
    height: auto;
    padding-top: 10px;
    border-radius: 5px;
  }

  .cardItem {
    display: flex;
  }

  .cardItem__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .cardItem__wrapper {
    width: 370px;
    padding: 10px;
    margin-left: 30px;
  }

  .cardItem__image {
    width: 295px;
    padding-left: 50px;
    padding-bottom: 10px;
  }

  .cardItem__name {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (min-width: 1024px) {
  .modal-card {
    background-color: #ffffff;
    width: 810px;
    margin-top: 0px;
    display: flex;
  }

  .image {
    display: block;
    width: auto;
    height: auto;
    padding-top: 10px;
    border-radius: 5px;
  }

  .cardItem__wrapper {
    width: 423px;
  }

  .cardItem__genreList {
    width: 290px;
  }
}
.basicLightbox {
  overflow: scroll;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .team-wrapper {
    margin-top: 70px;
  }
}
@media screen and (min-width: 768px) {
  .team-wrapper {
    width: 600px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .team-wrapper {
    margin: -30px;
    width: 800px;
  }
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: calc((100% - 80px) / 2);
}
@media screen and (min-width: 768px) {
  .team-card {
    width: calc((100% - 160px) / 4);
  }
}
@media screen and (min-width: 1024px) {
  .team-card {
    margin: 30px;
    width: calc((100% - 240px) / 4);
  }
}

.team-image {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 11px -2px #000000;
}

.team-name {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.team-role {
  font-family: "Roboto", sans-serif;
  color: #ff6b08;
}
@media screen and (max-width: 767px) {
  .team-role {
    font-size: 14px;
  }
}

.team-git {
  position: absolute;
  top: 65px;
  right: -10px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .team-git {
    top: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .team-git {
    top: 120px;
  }
}
.team-git:hover, .team-git:focus {
  transform: scale(1.5);
}

.team-modal {
  text-decoration: underline;
  cursor: pointer;
}

.sk-chase {
  width: 100px;
  height: 100px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
.btn-youtube {
  position: absolute;
  z-index: 1;
  width: 275px;
  height: 40px;
  margin-left: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  outline: none;
  background-image: url("/icons8-play-button-2.f5ce0859.svg");
  background-color: transparent;
}

.btn-youtube-text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #c4302b;
  cursor: pointer;
  margin: 0;
  z-index: 5;
}

.card__film .overlay-btn-youtube-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25px;
  width: 230px;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  top: 3px;
  left: 180px;
  z-index: 2;
  opacity: 0;
  transform: translateX(-63%);
  transition: all 400ms ease-in;
}

.card__film:hover .overlay-btn-youtube-text {
  display: flex;
  opacity: 1;
  transform: translateX(-63%);
}

.lightbox__button {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  outline: none;
  background-image: url("/icon-close.1add023a.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: #ff6b08;
}

@media screen and (min-width: 768px) {
  .lightbox__button {
    top: 100px;
    right: calc(((100vw - 668px) / 2));
  }
}
@media screen and (min-width: 1024px) {
  .lightbox__button {
    top: 100px;
    right: calc(((100vw - 824px) / 2));
  }
}
.up-btn-wrapper {
  position: fixed;
  bottom: 39px;
  right: 10px;
  z-index: 10;
  color: #545454;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.up-btn-wrapper:hover, .up-btn-wrapper:focus {
  color: #ff6b08;
}
@media screen and (min-width: 320px) {
  .up-btn-wrapper {
    bottom: 39px;
    right: calc(((100vw - 340px) / 2));
  }
}
@media screen and (min-width: 768px) {
  .up-btn-wrapper {
    bottom: 39px;
    right: calc(((100vw - 768px) / 2));
  }
}
@media screen and (min-width: 1024px) {
  .up-btn-wrapper {
    bottom: 55px;
    right: calc(((100vw - 1024px) / 2));
  }
}

.up-btn__icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .up-btn__icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .up-btn__icon {
    width: 60px;
    height: 60px;
  }
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: 2em;
}
.glide__arrow--right {
  right: 2em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slider-wrapper {
  background-color: #f7f7f7;
  padding-bottom: 20px;
  font-size: 13px;
}
@media screen and (max-width: 1023px) {
  .slider-wrapper {
    display: none;
  }
}

.glide__arrow {
  background-color: #ff6b08;
}

.slider-card {
  margin-right: 8px;
}

.slider-title {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.12;
}

.slider-image {
  border-radius: 5px;
}

.rating-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.1;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}

.slider-card .btn-youtube {
  width: 100px;
}

.slider-card .overlay-btn-youtube-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 19px;
  width: 70px;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  top: 5px;
  left: 75px;
  z-index: 2;
  opacity: 0;
  transform: translateX(-63%);
  transition: all 400ms ease-in;
}

.slider-card:hover .overlay-btn-youtube-text {
  display: flex;
  opacity: 1;
  transform: translateX(-63%);
}

.btn-youtube-text-slider {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #c4302b;
  cursor: pointer;
  margin: 0;
  z-index: 5;
}
.basicLightbox{position:fixed;display:flex;justify-content:center;align-items:center;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,.8);opacity:.01;transition:opacity .4s ease;z-index:1000;will-change:opacity}.basicLightbox--visible{opacity:1}.basicLightbox__placeholder{max-width:100%;transform:scale(.9);transition:transform .4s ease;z-index:1;will-change:transform}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{display:block;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;max-width:95%;max-height:95%}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{pointer-events:auto}.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{width:auto;height:auto}.basicLightbox--iframe .basicLightbox__placeholder,.basicLightbox--img .basicLightbox__placeholder,.basicLightbox--video .basicLightbox__placeholder{width:100%;height:100%;pointer-events:none}.basicLightbox--visible .basicLightbox__placeholder{transform:scale(1)}
/*# sourceMappingURL=/src.e31bb0bc.css.map */