
// для того, чтобы предварительно видеть цвет переменной, установите расширение colorize

//Sizes/breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// text colors
$white: #ffffff;
$dark: #000000;
$textColor: #545454;
$accentColor: #ff6b08;
$svgColor: #818181;
$warningColor: #ff001b;

// fonts
$mainFont: 'Roboto', sans-serif;

// mixins for transitions

@mixin transition(
  $property,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $time $timingFunction;
}

@mixin twoTransitions(
  $propertyI,
  $propertyII,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $propertyI $time $timingFunction,
    $propertyII $time $timingFunction;
}

