// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// text colors
$white: #ffffff;
$dark: #000000;
$textColor: #545454;
$accentColor: #ff6b08;
$svgColor: #818181;
$warningColor: #ff001b;

// fonts
$mainFont: 'Roboto', sans-serif;
