<header class="header-bg-modal">
  <div class="container">
    <div class="header-section-modal">
      <nav class="navigation">
        <a href="" class="navigation__logo logo"
          ><svg class="logo__icon" width="24" height="24">
            <use href="./images/sprite.svg#logo"></use>
          </svg>
          <span class="logo__name">Filmoteka</span>
        </a>

        <ul class="side-nav side-nav--modal">
          <li class="side-nav__item">
            <a href="/index.html" class="side-nav__link">Home</a>
          </li>
          <li class="side-nav__item">
            <a href="/library.html" class="side-nav__link">My library</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
