.card__colection {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.card__film {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: $tablet) {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
.card__film > img {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 402px;
  @media screen and (min-width: $tablet) {
    height: 398px;
  }
}
.card__title,
.card__text {
  font-family: $mainFont;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.card__title {
  text-transform: uppercase;
  color: $dark;
}
.card__text {
  color: $accentColor;
}
