// wrappers

.header-section {
  padding-top: 58px;
}

// bg

.header-bg {
  margin-left: auto;
  margin-right: auto;

  max-width: $mobile;
  min-height: 230px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-bg-main-mobile.jpg);
  background-color: #000000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: ($tablet - 1)) and (min-device-pixel-ratio: 2),
    screen and (max-width: ($tablet - 1)) and (min-resolution: 192dpi),
    screen and (max-width: ($tablet - 1)) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-main-mobile@2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;

    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-main-tablet.jpg);

    @media screen and (max-width: ($desktop - 1)) and (min-device-pixel-ratio: 2),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 192dpi),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-bg-main-tablet.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-main-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-bg-main-desktop.jpg);
    }
  }
}

// form

.search-form {
  position: relative;

  text-align: center;
}

.search-field {
  width: 100%;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid $white;

  font-family: $mainFont;

  color: $white;

  @include transition(border-bottom);

  &::placeholder {
    color: $white;

    @include transition(color);
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $accentColor;

    &::placeholder {
      color: $accentColor;
    }
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (min-width: $tablet) {
    right: 142px;
  }

  @media screen and (min-width: $desktop) {
    right: 273px;
  }

  padding: 0;

  background-color: transparent;
  border: transparent;

  color: $white;

  @include transition(color);

  .search-field:focus ~ & {
    color: $accentColor;
  }
}

// warning

.header-warning {
  position: absolute;
  top: 155px;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (max-width: ($tablet - 1)) {
    max-width: ($mobile - 40);
  }

  @media screen and (min-width: $tablet) {
    width: ($tablet - 152);
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    width: ($desktop - 142);
    text-align: center;
  }

  color: $warningColor;
}
