// prevents interface shift due to scrollbar render by browser
html {
  overflow-y: scroll;
}

// endless bg color
.endless-bg-color {
  background-color: $dark;
}

// logo
.logo {
  position: absolute;
  top: 46px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
  }

  text-decoration: none;

  color: $svgColor;

  cursor: pointer;
}

.logo__icon {
  @media screen and (min-width: $tablet) {
    margin-right: 10px;
  }
}

.logo__name {
  @media screen and (max-width: ($tablet - 1)) {
    display: none;
  }

  font-family: $mainFont;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: $white;
}

// side-nav

.side-nav {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;

  font-family: $mainFont;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $white;
}

.side-nav__item {
  &:first-child {
    margin-right: 39px;
  }
}

.side-nav__link {
  text-decoration: none;

  color: inherit;
}

.side-nav__link--current-page {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    bottom: -3px;
    left: 0;

    height: 3px;
    width: 100%;

    background-color: $accentColor;
  }
}
