// temp container (will be removed after Katya's merge
.temp-container {
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 76px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 0 71px;
  }
}

// bg

.header-bg {
  margin-left: auto;
  margin-right: auto;

  max-width: $mobile;

  background-image: url(../images/header-bg-main-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: ($tablet - 1)) and (min-device-pixel-ratio: 2),
    screen and (max-width: ($tablet - 1)) and (min-resolution: 192dpi),
    screen and (max-width: ($tablet - 1)) and (min-resolution: 2dppx) {
    background-image: url(../images/header-bg-main-mobile@2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;

    background-image: url(../images/header-bg-main-tablet.jpg);

    @media screen and (max-width: ($desktop - 1)) and (min-device-pixel-ratio: 2),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 192dpi),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 2dppx) {
      background-image: url(../images/header-bg-main-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    background-image: url(../images/header-bg-main-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header-bg-main-desktop@2x.jpg);
    }
  }
}

// wrappers

.header-section {
  padding-top: 58px;
  padding-bottom: 97px;
}

// logo
.logo {
  position: absolute;
  top: 46px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
  }

  text-decoration: none;

  color: $svgColor;
}

.logo__icon {
  @media screen and (min-width: $tablet) {
    margin-right: 10px;
  }
}

.logo__name {
  @media screen and (max-width: ($tablet - 1)) {
    display: none;
  }

  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: $white;
}

// side-nav

.side-nav {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 41px;

  font-family: $mainFont;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $white;
}

.side-nav__item {
  &:first-child {
    margin-right: 39px;
  }
}

.side-nav__link {
  text-decoration: none;

  color: inherit;
}

.side-nav__link--current-page {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    bottom: -3px;
    left: 0;

    height: 3px;
    width: 100%;

    background-color: $accentColor;
  }
}

// form

.search-form {
  position: relative;

  text-align: center;
}

.search-field {
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid $white;

  font-family: $mainFont;

  color: $white;

  &::placeholder {
    color: $white;
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (min-width: $tablet) {
    right: 142px;
  }

  @media screen and (min-width: $desktop) {
    right: 273px;
  }

  padding: 0;

  background-color: transparent;
  border: transparent;

  color: $white;
}

// warning

.header-warning {
  position: absolute;
  top: 155px;

  @media screen and (max-width: ($tablet - 1)) {
    max-width: ($mobile - 40);
  }

  @media screen and (min-width: $tablet) {
    width: ($tablet - 152);
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    width: ($desktop - 142);
    text-align: center;
  }

  color: $warningColor;
}
