// wrappers

.header-section-lib {
  padding-top: 58px;
}

// bg

.header-bg-lib {
  margin-left: auto;
  margin-right: auto;

  max-width: $mobile;
  min-height: 230px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-bg-lib-mobile.jpg);
  background-color: #000000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: ($tablet - 1)) and (min-device-pixel-ratio: 2),
    screen and (max-width: ($tablet - 1)) and (min-resolution: 192dpi),
    screen and (max-width: ($tablet - 1)) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-lib-mobile@2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;

    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-lib-tablet.jpg);

    @media screen and (max-width: ($desktop - 1)) and (min-device-pixel-ratio: 2),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 192dpi),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-bg-lib-tablet.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-lib-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-bg-lib-desktop.jpg);
    }
  }
}

// storage radion btns

.storage {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

.storage__item:first-child {
  @media screen and (min-width: $tablet) {
    margin-right: 15px;
  }
}

.storage__btn {
  display: block;

  padding-top: 14px;
  padding-bottom: 12px;

  min-width: 130px;

  @media screen and (min-width: $tablet) {
    min-width: 136px;
  }

  text-align: center;

  font-family: $mainFont;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: $white;

  cursor: pointer;

  border: 1px solid $white;
  border-radius: 5px;

  @include twoTransitions(background-color, border);

  // &:hover,
  // &:focus {
  //   background-color: $accentColor;
  //   border: 1px solid $accentColor;
  // }
}

.storage__input:checked ~ .storage__btn {
  background-color: $accentColor;
  border: 1px solid $accentColor;
  color: $white;
}

//добавила для кнопок в модальном окне
.storage__input ~ .storage__btn {
  background-color: $white;
  border: 1px solid $dark;
  color: $dark;
}

// .storage__input ~ .storage__btn {
//   &:hover,
//   &:focus {
//     background-color: $accentColor;
//     border: 1px solid $accentColor;
//   }
// }

// nav

.side-nav--lib {
  margin-bottom: 51px;
}
